* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* khi thêm bất cứ padding hay border vẫn không ảnh hương width và height gốc */
}
/* nên viết font trên html */
html {
  font-family: Helvetica, Arial, sans-serif;
}
/* 
1. Vị trí
2. Màu sắc
3. kKích thước
4. Kiểu dáng
*/

header {
  height: 54px;
  background-color: black;
  /*dùng để lăn thanh nhưng vẫn cuộn header theo*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* để header nổi lên trên ảnh*/
  /* display: flex; */
}
#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
  /* inline cùng 1 hàng còn block là giữ lại tính chất khối */
  position: relative;
  /* padding: 0 15px; */
  padding-right: 15px;
}

#nav > li > a {
  color: white;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none; /*bỏ gạch chân */
  line-height: 54px;
  display: block; /*xét inline không ăn theo chiều cao rộng 
    nên  thêm block vào để nó ăn theo*/
  padding: 0 24px;
}

.nav-icon {
  font-size: small;
}

#nav > li:hover > a {
  /* thằng con của thẻ a sẽ được hưởng thụ*/
  background-color: #bebebe;
  color: black;
}

#nax {
  padding-left: 0px;
}

/* ===================subnav================= */

#nav .subnav {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Kéo dài thẻ li ở subnav ra */
  min-width: 155px;
  /* nếu position: absolute không đẹp thì phải sử dụng từng thuộc tính top left */
  top: 100%;
}

#nav .subnav li {
  /* Để thằng con dài ra ở subnav */
  display: block;
}
#nav .subnav a {
  color: black;
  padding-left: 12px;
  line-height: 40px; /*để cho dòng chữ nhỏ lại*/
}

.subnav > li:hover a {
  /* thằng con của thẻ a sẽ được hưởng thụ*/
  background-color: #bebebe;
  color: black;
}

/*Khi di chuột vào li thì add các thuộc tính của thẻ sau li vào*/
#nav > li:hover .subnav {
  display: block;
}

/* ======================= search ======================== */
#search {
  color: white;
  float: right;
  padding: 0 22px;
  /*đổi trỏ chuột thành bàn tay*/
  cursor: pointer;
}
#search i {
  font-size: 14px;
  line-height: 54px;
}
#search:hover {
  background-color: #f44336;
}
/*====================== slider =========================*/
#slider {
  margin-top: 54px;
  padding-top: 50%; /*50% chiều ngang của chính nó*/
  background: url("/w3_band/assets/images/la.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  /* Viết tắt: background: url('/w3_band/assets/images/la.jpg') top center / cover no-repeat; */

  position: relative;
}

#slider .text {
  color: #fff;
  justify-content: center;
  position: absolute;
  bottom: 47px;
  left: 50%;
  /* căn giữa */
  transform: translateX(-50%);
  text-align: center;

  /* Cách căn giữa 2
  xét thằng .text ni width = 100% thì tự căn giữa từ text-align: center 
  hoặc xét right: 0 và left: 0*/
}
h3 {
  margin-bottom: 10px;
  font-size: 30px;
}

/* ============================= content========================== */
#content {
  height: 1000px;
}
